<p id="notice"><%= notice %></p>

<p>
  <b>Grading:</b>
  <%= @grading.Grading %>
</p>

<p>
  <b>Description:</b>
  <%= @grading.Description %>
</p>

<p>
  <b>Created:</b>
  <%= @grading.Created %>
</p>

<p>
  <b>Updated:</b>
  <%= @grading.Updated %>
</p>

<p>
  <b>Created person id:</b>
  <%= @grading.Created_Person_ID %>
</p>

<p>
  <b>Updated person id:</b>
  <%= @grading.Updated_Person_ID %>
</p>


<%= link_to 'Edit', edit_grading_path(@grading) %> |
<%= link_to 'Back', gradings_path %>
