<p id="notice"><%= notice %></p>

<p>
  <b>Follower person id:</b>
  <%= @following.Follower_Person_ID %>
</p>

<p>
  <b>Following person id:</b>
  <%= @following.Following_Person_ID %>
</p>

<p>
  <b>Created:</b>
  <%= @following.Created %>
</p>

<p>
  <b>Updated:</b>
  <%= @following.Updated %>
</p>

<p>
  <b>Created person id:</b>
  <%= @following.Created_Person_ID %>
</p>

<p>
  <b>Updated person id:</b>
  <%= @following.Updated_Person_ID %>
</p>


<%= link_to 'Edit', edit_following_path(@following) %> |
<%= link_to 'Back', followings_path %>
