<h1>Listing persons_addres</h1>

<table>
  <tr>
    <th>Address id</th>
    <th>Persons id</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Created person id</th>
    <th>Updated person id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @persons_addres.each do |persons_addre| %>
  <tr>
    <td><%= persons_addre.Address_ID %></td>
    <td><%= persons_addre.Persons_ID %></td>
    <td><%= persons_addre.Created %></td>
    <td><%= persons_addre.Updated %></td>
    <td><%= persons_addre.Created_Person_ID %></td>
    <td><%= persons_addre.Updated_Person_ID %></td>
    <td><%= link_to 'Show', persons_addre %></td>
    <td><%= link_to 'Edit', edit_persons_addre_path(persons_addre) %></td>
    <td><%= link_to 'Destroy', persons_addre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Persons addre', new_persons_addre_path %>
