<h1>Listing related_releases</h1>

<table>
  <tr>
    <th>Related from release id</th>
    <th>Related to release id</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Created person id</th>
    <th>Updated person id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @related_releases.each do |related_release| %>
  <tr>
    <td><%= related_release.Related_From_Release_ID %></td>
    <td><%= related_release.Related_To_Release_ID %></td>
    <td><%= related_release.Created %></td>
    <td><%= related_release.Updated %></td>
    <td><%= related_release.Created_Person_ID %></td>
    <td><%= related_release.Updated_Person_ID %></td>
    <td><%= link_to 'Show', related_release %></td>
    <td><%= link_to 'Edit', edit_related_release_path(related_release) %></td>
    <td><%= link_to 'Destroy', related_release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Related release', new_related_release_path %>
