<p id="notice"><%= notice %></p>

<p>
  <b>Release id:</b>
  <%= @information.Release_ID %>
</p>

<p>
  <b>Container:</b>
  <%= @information.Container %>
</p>

<p>
  <b>Country id:</b>
  <%= @information.Country_ID %>
</p>

<p>
  <b>State:</b>
  <%= @information.State %>
</p>

<p>
  <b>Condition id:</b>
  <%= @information.Condition_ID %>
</p>

<p>
  <b>Publisher id:</b>
  <%= @information.Publisher_ID %>
</p>

<p>
  <b>Category id:</b>
  <%= @information.Category_ID %>
</p>

<p>
  <b>Genre id:</b>
  <%= @information.Genre_ID %>
</p>

<p>
  <b>Binding id:</b>
  <%= @information.Binding_ID %>
</p>

<p>
  <b>Edition type id:</b>
  <%= @information.Edition_Type_ID %>
</p>

<p>
  <b>Format id:</b>
  <%= @information.Format_ID %>
</p>

<p>
  <b>Type id:</b>
  <%= @information.Type_ID %>
</p>

<p>
  <b>Sub type id:</b>
  <%= @information.Sub_Type_ID %>
</p>

<p>
  <b>Notes:</b>
  <%= @information.Notes %>
</p>

<p>
  <b>Created:</b>
  <%= @information.Created %>
</p>

<p>
  <b>Updated:</b>
  <%= @information.Updated %>
</p>

<p>
  <b>Created person id:</b>
  <%= @information.Created_Person_ID %>
</p>

<p>
  <b>Updated person id:</b>
  <%= @information.Updated_Person_ID %>
</p>



<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
