<%= form_for(@release_language) do |f| %>
  <% if @release_language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release_language.errors.count, "error") %> prohibited this release_language from being saved:</h2>

      <ul>
      <% @release_language.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Release_ID %><br />
    <%= f.number_field :Release_ID %>
  </div>
  <div class="field">
    <%= f.label :Language_ID %><br />
    <%= f.number_field :Language_ID %>
  </div>
  <div class="field">
    <%= f.label :Created %><br />
    <%= f.date_select :Created %>
  </div>
  <div class="field">
    <%= f.label :Updated %><br />
    <%= f.date_select :Updated %>
  </div>
  <div class="field">
    <%= f.label :Created_Person_ID %><br />
    <%= f.number_field :Created_Person_ID %>
  </div>
  <div class="field">
    <%= f.label :Updated_Person_ID %><br />
    <%= f.number_field :Updated_Person_ID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
