<p id="notice"><%= notice %></p>

<p>
  <b>Release id:</b>
  <%= @technical.Release_ID %>
</p>

<p>
  <b>Bitrate:</b>
  <%= @technical.Bitrate %>
</p>

<p>
  <b>Size:</b>
  <%= @technical.Size %>
</p>

<p>
  <b>Dimensions:</b>
  <%= @technical.Dimensions %>
</p>

<p>
  <b>Recording type id:</b>
  <%= @technical.Recording_Type_ID %>
</p>

<p>
  <b>Isbn10:</b>
  <%= @technical.ISBN10 %>
</p>

<p>
  <b>Isbn13:</b>
  <%= @technical.ISBN13 %>
</p>

<p>
  <b>External references:</b>
  <%= @technical.External_References %>
</p>

<p>
  <b>Created:</b>
  <%= @technical.Created %>
</p>

<p>
  <b>Modified:</b>
  <%= @technical.Modified %>
</p>

<p>
  <b>Service:</b>
  <%= @technical.Service %>
</p>

<p>
  <b>Service url:</b>
  <%= @technical.Service_URL %>
</p>

<p>
  <b>Webpage:</b>
  <%= @technical.Webpage %>
</p>

<p>
  <b>Volume nr:</b>
  <%= @technical.Volume_nr %>
</p>

<p>
  <b>Volume name:</b>
  <%= @technical.Volume_Name %>
</p>

<p>
  <b>Series:</b>
  <%= @technical.Series %>
</p>

<p>
  <b>Pages:</b>
  <%= @technical.Pages %>
</p>

<p>
  <b>Storage medium:</b>
  <%= @technical.Storage_Medium %>
</p>

<p>
  <b>Technical notes:</b>
  <%= @technical.Technical_Notes %>
</p>

<p>
  <b>No of discs:</b>
  <%= @technical.No_of_Discs %>
</p>

<p>
  <b>Total runtime:</b>
  <%= @technical.Total_Runtime %>
</p>

<p>
  <b>Value high:</b>
  <%= @technical.Value_High %>
</p>

<p>
  <b>Value med:</b>
  <%= @technical.Value_Med %>
</p>

<p>
  <b>Value low:</b>
  <%= @technical.Value_Low %>
</p>

<p>
  <b>Created person id:</b>
  <%= @technical.Created_Person_ID %>
</p>

<p>
  <b>Updated person id:</b>
  <%= @technical.Updated_Person_ID %>
</p>


<%= link_to 'Edit', edit_technical_path(@technical) %> |
<%= link_to 'Back', technicals_path %>
