<p id="notice"><%= notice %></p>

<p>
  <b>Format type collection type id:</b>
  <%= @format_type.Format_Type_Collection_Type_ID %>
</p>

<p>
  <b>Description:</b>
  <%= @format_type.Description %>
</p>

<p>
  <b>Created:</b>
  <%= @format_type.Created %>
</p>

<p>
  <b>Updated:</b>
  <%= @format_type.Updated %>
</p>

<p>
  <b>Created person id:</b>
  <%= @format_type.Created_Person_ID %>
</p>

<p>
  <b>Updated person id:</b>
  <%= @format_type.Updated_Person_ID %>
</p>


<%= link_to 'Edit', edit_format_type_path(@format_type) %> |
<%= link_to 'Back', format_types_path %>
