<h1>Listing bases</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Created person id</th>
    <th>Updated person id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bases.each do |basis| %>
  <tr>
    <td><%= basis.Description %></td>
    <td><%= basis.Created %></td>
    <td><%= basis.Updated %></td>
    <td><%= basis.Created_Person_ID %></td>
    <td><%= basis.Updated_Person_ID %></td>
    <td><%= link_to 'Show', basis %></td>
    <td><%= link_to 'Edit', edit_basis_path(basis) %></td>
    <td><%= link_to 'Destroy', basis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Base', new_basis_path %>
