<p id="notice"><%= notice %></p>

<p>
  <b>Release id:</b>
  <%= @persons_release.Release_ID %>
</p>

<p>
  <b>Persons id:</b>
  <%= @persons_release.Persons_ID %>
</p>

<p>
  <b>Own:</b>
  <%= @persons_release.Own %>
</p>

<p>
  <b>Want:</b>
  <%= @persons_release.Want %>
</p>

<p>
  <b>No of copies:</b>
  <%= @persons_release.No_Of_Copies %>
</p>

<p>
  <b>Audio type id:</b>
  <%= @persons_release.Audio_Type_ID %>
</p>

<p>
  <b>Filehash type:</b>
  <%= @persons_release.Filehash_type %>
</p>

<p>
  <b>Filehash:</b>
  <%= @persons_release.Filehash %>
</p>

<p>
  <b>Filesize:</b>
  <%= @persons_release.Filesize %>
</p>

<p>
  <b>Bitrate:</b>
  <%= @persons_release.Bitrate %>
</p>

<p>
  <b>Size:</b>
  <%= @persons_release.Size %>
</p>

<p>
  <b>Dimensions:</b>
  <%= @persons_release.Dimensions %>
</p>

<p>
  <b>Created:</b>
  <%= @persons_release.Created %>
</p>

<p>
  <b>Updated:</b>
  <%= @persons_release.Updated %>
</p>

<p>
  <b>Created person id:</b>
  <%= @persons_release.Created_Person_ID %>
</p>

<p>
  <b>Updated person id:</b>
  <%= @persons_release.Updated_Person_ID %>
</p>


<%= link_to 'Edit', edit_persons_release_path(@persons_release) %> |
<%= link_to 'Back', persons_releases_path %>
